body {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  display: flex;
  justify-content: center;

}


#main {
    max-width: 99%;
    width: 480px;
}

#toollist .wholebearnote {
    font-size: 0.2em;
    border: 1px solid black;

}