body {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}
#layout {
    /* display: flex; */
    /* justify-content: center; */
}

#mainarticle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

p {
    max-width: 100vw;
    width: 480px;
}


figure {
    max-width: 80vh;
    margin: 0;
    padding-bottom: 16px;
}

figcaption {
    font-size: 0.8em;
    text-align: center;
    color: rgb(120, 120, 120);

}