body {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#iframeholder {
    max-width: 100%;
    width: 400px;
    margin-bottom: 60px;
}

#coverart {
    max-width: 100%;
    width: 100vh;
    /*width: 480px;   */
}

#txt p {
    margin: 0;
    font-size: 10px;
}