body {
  font-family: "helvetica neue";
  font-size: 3em;
}

@media only screen and (max-width: 720px) {
  #content {
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 720px) {
  #content {
    width: 720px;
    margin: 0 auto;
  }
}

/* bottom scroll breather room */
#content {
  margin-bottom: 80px;
}

body {
  background-color: rgb(246, 246, 246);
}

.bloglink a {
  color: black;
  text-decoration: underline dotted;
}

.head:hover {
  text-decoration: underline;
  cursor: pointer;
}

ul {
  list-style-position: inside;
  margin: 0;
}
li {
  font-size: 0.6em;
}

.centered {
  display: flex;
  justify-content: center;
}

/* embed stuff*/
blockquote.twitter-tweet,
blockquote.twitter-video {
  font-size: 0.6em;
}

.fakeBrowser {
  font-size: 18px;
  padding: 2.1em 0 0 0;
  width: 80%;
  height: 300px;
  border-radius: 0.25em;
  background: #ddd;
  display: inline-block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.25em 0.9em -0.1em rgba(0, 0, 0, 0.3);
}

.fakeBrowser .fakeNavBar {
  display: block;
  box-sizing: border-box;
  height: 2.1em;
  position: absolute;
  top: 0;
  padding: 0.3em;
  width: 100%;
  background: linear-gradient(to bottom, #edeaed 0%, #dddfdd 100%);
  border-bottom: 2px solid #cbcbcb;
}

.fakeBrowser .fakeNavBar i {
  display: inline-block;
  height: 0.7em;
  width: 0.7em;
  border-radius: 0.45em;
  background-color: #eee;
  margin: 0.4em 0.15em;
}

/* red button*/
.fakeBrowser i:nth-child(1) {
  background-color: rgb(255, 86, 79);
}
.fakeBrowser i:nth-child(1):hover {
  background-color: rgb(255, 20, 25);
}
.fakeBrowser i:nth-child(1):active {
  background-color: rgb(100, 20, 25);
}

/* yellow button*/
.fakeBrowser i:nth-child(2) {
  background-color: rgb(255, 183, 42);
}
.fakeBrowser i:nth-child(2):hover {
  background-color: rgb(230, 175, 42);
}
.fakeBrowser i:nth-child(2):active {
  background-color: rgb(157, 112, 26);
}

/* green button*/
.fakeBrowser i:nth-child(3) {
  background-color: rgb(37, 198, 58);
}
.fakeBrowser i:nth-child(3):hover {
  background-color: rgb(10, 225, 10);
}
.fakeBrowser i:nth-child(3):active {
  background-color: rgb(16, 85, 26);
}

.fakeBrowser input {
  font-size: 0.75em;
  vertical-align: top;
  display: inline-block;
  height: 1.6em;
  color: #aaa;
  width: calc(100% - 6em);
  border: 0.1em solid #e1e1e1;
  border-radius: 0.25em;
  background-color: #eee;
  margin: 0.1em;
  padding: 0 0.4em;
}

.fakeBrowser-container {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

#fillMeWithMarkovText {
  max-width: 95%;
}

#markovTextHolder {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hovertrans {
  transition: 0.5s;
}
.hovertrans:hover {
  opacity: 0.8;
}
