* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.instagram-media {
  background:#FFF;
  display: none;
  border:0;
  border-radius:3px;
  box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15);
  margin: 1px;
  padding:0;
  /*width:99.375%;
  width:-webkit-calc(100% - 2px);
  width:calc(100% - 2px);*/
}
.instaImgSq {
  background:#F8F8F8;
  line-height:0;
  margin-top:40px;
  padding:50.0% 0;
  text-align:center;
  /*width:100%;*/

}

#bg {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 110%;
  flex-wrap: wrap;
  overflow-y: hidden;
  background-color: black;
}

#main {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 8px;
  padding-left: 8px;
  color: white;
  font-family: "Helvetica";
  width: 100%;
}

h1 {
  font-size: 5em;
  padding-top: 8px;
  padding-bottom: 4px;
}

p {
  font-size: 3em;
}

h1:hover, li:hover, p:hover {
  background-color: rgb(0,0,0,0.8);
}


ul {
  list-style: none;
}