body {
	padding: 0;
	margin: 0;
	background-color: black;
}
img {
	width: 49%;
}

h2 {
	text-align: center;
	font-family: helvetica;
	font-size: 32px;
	color: white;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}