body {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  background-color: #222222;
}
#layout {
}
#mainarticle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figure {
    width: 25vw;
    height: 25vw;
    margin: 0;
}

section {
    max-width: 100%;
    width: 400px;
}

figcaption {
    font-size: 0.8em;
    position: relative;
    bottom: 18px;
    color: white;
    z-index: 999;
}