img {
	width: 600px;
	display: block;
}
#main {
	position: absolute;
	left: 20%;
}
p {
	position: relative;
	top: -100px;
	right: -80px;
	font-size: 3em;
	font-family: Roboto;
	height: 0;
	width: 500px;
}

.long {
	font-size: 16px;
	height: auto;
	top: 30px;
}
body {
	background-color: #aeaeae;
}